div(ng-controller='company-new-ctrl')
	.btn.btn-success.btn-sm.pull-right Chỉnh sửa
	.page-header(style='margin-top:0px; margin-bottom:12px')
		h3(style='margin:0px') Thông tin công ty

	form.form-horizontal(name='company_info')
		// Text input
		.form-group
			label.col-md-2.control-label(for='company_name') Tên công ty
			.col-md-8
				input#company_name.form-control.input-md(ng-model='model.company_name', name='company_name', type='text', placeholder='', required='')
		// Text input
		.form-group
			label.col-md-2.control-label(for='phone') Điện thoại
			.col-md-8
				input#phone.form-control.input-md(ng-model='model.phone', name='phone', type='text', placeholder='', required='')
				span.help-block Các số điện thoại cách nhau bởi dấu phẩy [,]
		// Text input
		.form-group
			label.col-md-2.control-label(for='address') Địa chỉ
			.col-md-8
				input#address.form-control.input-md(ng-model='model.address', name='address', type='text', placeholder='', required='')
		// Text input
		.form-group
			label.col-md-2.control-label(for='city') Thành phố
			.col-md-8
				input#city.form-control.input-md(ng-model='model.city', name='city', type='text', placeholder='')
		// Textarea
		.form-group
			label.col-md-2.control-label(for='notes') Ghi chú
			.col-md-8
				textarea#notes.form-control(ng-model='model.notes', name='notes')

		br
		br
		// Text input
		.form-group
			label.col-md-2.control-label(for='user_name') Tài khoản quản trị
			.col-md-8
				input#user_name.form-control.input-md(ng-model='user.username', name='user_name', type='text', placeholder='', required='')
		// Text input
		.form-group
			label.col-md-2.control-label(for='full_name') Họ Tên
			.col-md-8
				input#full_name.form-control.input-md(ng-model='user.full_name', name='full_name', type='text', placeholder='', required='')
		// Text input
		.form-group
			label.col-md-2.control-label(for='email') Email
			.col-md-8
				input#email.form-control.input-md(ng-model='user.email', name='email', type='email', placeholder='', required='')
		// Text input
		.form-group
			label.col-md-2.control-label(for='password') Mật khẩu
			.col-md-8
				input#password.form-control.input-md(ng-model='user.password', name='password', type='password', placeholder='')
		// Text input
		//- .form-group
		//- 	label.col-md-2.control-label(for='re-password') Nhập lại mật khẩu
		//- 	.col-md-8
		//- 		input#re-password.form-control.input-md(ng-model='credential.re-password', name='re-password', type='text', placeholder='')

		// Button (Double)
		.form-group
			label.col-md-2.control-label(for='next')
			.col-md-8
				button#next.btn.btn-success(name='next', ng-click='submit()') Tiếp tục
				button#cancel.btn.btn-link(name='cancel') Hủy
