.row
	.col-md-3
		.page-header(style='margin-top:0px; margin-bottom:12px')
			h3(style='margin:0px') Cài đặt
		div.list-group
			a.list-group-item(ng-href='#/setting', ng-click='nav("company.jade")')
				| Thông tin công ty
			a.list-group-item(ng-href='#/setting', ng-click='nav("route.jade")')
				| Cài đặt tuyến

		div.list-group
			a.list-group-item(ng-href='#/setting', ng-click='nav("question-answer.jade")')
				| Hỏi đáp
			a.list-group-item(ng-href='#/setting', ng-click='nav("about.jade")')
				| Thông tin sản phẩm

	.col-md-9
		div(ng-include='setting_template')
