.row
	.col-md-3
		.page-header(style='margin-top:0px; margin-bottom:12px')
			h3(style='margin:0px') Hướng dẫn

		//- div.list-group
			a.list-group-item(ng-href='#/car',
				ng-repeat='item in cars') {{ item.name }}

	.col-md-9
		.page-header(style='margin-top:0px; margin-bottom:12px')
			h2(style='margin:0px') Chỉnh sửa thông tin chuyến xe

		.form-horizontal
			// Text input
			.form-group
				label.col-md-2.control-label(for='car-name') Tên Xe
				.col-md-8
					input#car-name.form-control.input-md(ng-model='model.name', name='car-name', type='text', placeholder='', required='')
			// Select Basic
			.form-group
				label.col-md-2.control-label(for='route') Tuyến
				.col-md-8
					select#route.form-control(ng-model='model._route', ng-options='item._id as item.from + " - " + item.destination for item in routes')
			// Text input
			.form-group
				label.col-md-2.control-label(for='start-time') Giờ khởi hành
				.col-md-8
					input#start-time.form-control.input-md(ng-model='model.start_time', name='start-time', type='text', placeholder='giờ:phút')
			// Text input
			.form-group
				label.col-md-2.control-label(for='price') Giá vé (VNĐ)
				.col-md-8
					input#price.form-control.input-md(ng-model='model.price', name='price', type='text')
			// Textarea
			.form-group
				label.col-md-2.control-label(for='seats') Danh sách ghế
				.col-md-8
					textarea#seats.form-control(name='seats',
						ng-model='model.seats',
						ng-change='change_seats(model.seats)')
					span.help-block Nhập vào tên các ghế trên xe, các ghế cách nhau bởi dấu phẩy (,)
					span.help-block Các ghế trên xe chỉ được nhập một lần, nên hãy cẩn thận.

					span.help-block Tổng số ghế: {{ seats.length }}
					span
						span.label.label-info(ng-repeat='item in seats track by $index',
							style='margin-right:4px; display:inline-block; width:50px') {{ item }}

			// Textarea
			.form-group
				label.col-md-2.control-label(for='notes') Ghi chú
				.col-md-8
					textarea#notes.form-control(ng-model='model.notes', name='notes', style='height:100px')
			// Button (Double)
			.form-group
				label.col-md-2.control-label(for='next')
				.col-md-8
					button#next.btn.btn-success(name='next', ng-click='submit()') Cập nhật
					a#cancel.btn.btn-default(href='#/car', style='margin-left:4px') Hủy
