.row
	.col-md-3
		p(style='margin-bottom:2px') CHỌN TUYẾN
		select.form-control(ng-model='_route',
			ng-options='item._id as item.from + " - " + item.destination for item in routes')

		p(style='margin-top:14px; margin-bottom:2px') DANH SÁCH XE
		i(ng-if='data.length == 0') Không có xe nào cho tuyến được chọn.
		div.list-group#car-panel(style='position:relative; margin:0px auto; padding:0px; min-height:200px; overflow: hidden;')
			a.list-group-item(ng-href='#/',
				ng-click='set_model(item)',
				ng-repeat='item in data') {{ item.name }}

	.col-md-9
		.page-header(style='margin-top:0px; margin-bottom:12px')
			div.btn-group.pull-right
				button.btn.btn-default.btn-sm.active(type='button') Tất cả
				button.btn.btn-default.btn-sm(type='button') Đã đặt
				button.btn.btn-default.btn-sm(type='button') Còn trống
			div.btn-group.pull-right(style='margin-right:4px')
				button.btn.btn-default.btn-sm.active(type='button') Grid
				button.btn.btn-default.btn-sm(type='button') List
			h3(style='margin:0px') Xe giường nằm tài 1


		ul.nav.nav-pills(style='margin-bottom:10px')
			li.active
				a(href='#') Thứ 2
					small [22/4]
			li
				a(href='#') Thứ 3
					small [23/4]
			li
				a(href='#') Thứ 4
					small [24/4]
			li
				a(href='#') Thứ 5
					small [25/4]
			li
				a(href='#') Thứ 6
					small [26/4]
			li
				a(href='#') Thứ 7
					small [27/4]
			li
				a(href='#') CN
					small [28/4]
			li.pull-right
				a(href='#') Ngày
					i.glyphicon.glyphicon-calendar

		.row
			.col-md-3(ng-repeat='item in currentCar.seats')
				//- div.thumbnail(ng-if='item % 3 == 0', style='margin-bottom:10px; text-align:center')
					| [A{{item}}] Phạm Minh Tâm
					br
					small 01643-652-922
				div.thumbnail(style='margin-bottom:10px; text-align:center; background-color:#f9fafa')
					b {{item}}
					br
					a(href='#') Đặt Vé

		.row(style='margin-top:50px')
			.col-md-12
				p
					.btn.btn-success.pull-right
						| Trích xuất
						i.glyphicon.glyphicon-chevron-right

					| Thống kê đặt vé ngày 22/4/2014. (Vào lúc 16h53)
					br
					| Số ghế đẵ đặt: 28 ghế
					br
					| Số ghế trống: 4 ghế
