.row
	.col-md-3
		.page-header(style='margin-top:0px; margin-bottom:12px')
			h3(style='margin:0px') Hướng dẫn
		//- div.list-group
			a.list-group-item(ng-href='#/employee') Phạm Minh Tâm
			a.list-group-item(ng-href='#/employee') Lê Thị Huệ
			a.list-group-item(ng-href='#/employee') Nguyễn Văn Đồng
			a.list-group-item(ng-href='#/employee') Nguyễn Quang Trọng Nghĩa
			a.list-group-item(ng-href='#/employee') Phạm Nhật Hoa
			a.list-group-item(ng-href='#/employee') Nguyễn Ngân

	.col-md-9
		.page-header(style='margin-top:0px; margin-bottom:12px')
			h2(style='margin:0px') Chỉnh sửa thông tin

		form.form-horizontal
			// Text input
			.form-group
				label.col-md-2.control-label(for='full-name') Họ Tên
				.col-md-8
					input#full-name.form-control.input-md(ng-model='model.full_name', name='full-name', type='text', placeholder='', required='')
			// Text input
			.form-group
				label.col-md-2.control-label(for='role') Chức vụ
				.col-md-8
					input#role.form-control.input-md(ng-model='model.role', name='role', type='text', placeholder='')
			// Text input
			.form-group
				label.col-md-2.control-label(for='phone') Điện thoại
				.col-md-8
					input#phone.form-control.input-md(ng-model='model.phone_number', name='phone', type='text', placeholder='')
			// Text input
			.form-group
				label.col-md-2.control-label(for='birthday') Ngày sinh
				.col-md-8
					input#birthday.form-control.input-md(ng-model='model.birthday', name='birthday', type='text', placeholder='')
			// Textarea
			.form-group
				label.col-md-2.control-label(for='notes') Ghi chú
				.col-md-8
					textarea#notes.form-control(ng-model='model.notes', name='notes')

			br
			br
			// Text input
			.form-group
				label.col-md-2.control-label(for='username') Tên đăng nhập
				.col-md-8
					input#username.form-control.input-md(ng-model='model.username', name='username', type='text', required='')
			// Text input
			.form-group
				label.col-md-2.control-label(for='password') Mật khẩu
				.col-md-8
					input#password.form-control.input-md(ng-model='model.password', name='password', type='password', required='')
			// Button (Double)
			.form-group
				label.col-md-2.control-label(for='next')
				.col-md-8
					button#next.btn.btn-success(ng-click='submit()', name='next') Cập nhật
					a#cancel.btn.btn-default(href='#/emp', name='cancel', style='margin-left:4px') Hủy
