.row
	.col-md-3
		.page-header(style='margin-top:0px; margin-bottom:12px')
			a.btn.btn-success.btn-sm.pull-right(href='#/employee/new')
				i.glyphicon.glyphicon-plus
				| Thêm
			h3(style='margin:0px') DS Nhân viên

		div.list-group#emp-panel(style='position:relative; margin:0px auto; padding:0px; min-height:200px; overflow: hidden;')
			a.list-group-item(ng-repeat='item in users',
				ng-href='#/employee',
				ng-click='set_model(item)')
				| {{item.full_name || item.username}}

	.col-md-9
		.page-header(style='margin-top:0px; margin-bottom:12px')
			a.btn.btn-success.btn-sm.pull-right(href='#/employee/new')
				i.glyphicon.glyphicon-plus
				| Thêm
			h3(style='margin:0px') Thông tin nhân viên

		form.form-horizontal
			// Text input
			.form-group
				label.col-md-2.control-label Họ Tên
				.col-md-8
					label.form-control.input-md {{ model.full_name || model.username }}
			// Text input
			.form-group
				label.col-md-2.control-label Điện thoại
				.col-md-8
					label.form-control.input-md {{ model.phone_number }}
			// Text input
			.form-group
				label.col-md-2.control-label Chức vụ
				.col-md-8
					label.form-control.input-md {{ model.role }}
			// Text input
			.form-group
				label.col-md-2.control-label Ngày sinh
				.col-md-8
					label.form-control.input-md {{ model.birthday }}
			// Textarea
			.form-group
				label.col-md-2.control-label Ghi chú
				.col-md-8
					label.form-control {{ model.notes }}


			br
			br
			// Text input
			.form-group
				label.col-md-2.control-label Tên đăng nhập
				.col-md-8
					label.form-control.input-md {{ model.username }}
			// Text input
			.form-group
				label.col-md-2.control-label(for='password') Mật khẩu
				.col-md-8
					label#password.form-control.input-md(name='password', type='text', placeholder='', required='')

