div(ng-controller='route-list-ctrl')
	.page-header(style='margin-top:0px; margin-bottom:12px')
		//- .btn.btn-success.btn-sm.pull-right(ng-nav='views/route/new.jade')
			| Thêm Tuyến
		.btn.btn-success.btn-sm.pull-right(ng-click='nav("views/route/new.jade")')
			| Thêm Tuyến
		h3(style='margin:0px') Danh sách tuyến

	//- i(ng-if='routes.length == 0')
		| Hiện tại chưa có tuyến nào được cài đặt.

	table.table.table-hover(ng-if='routes.length > 0')
		tr
			th Tên ngắn
			th Điểm đi
			th Điểm đến
			th
		tr(ng-repeat='item in routes')
			td(style='width:120px; vertical-align:middle')
				span {{item.short_name}}
			td(style='width:200px; vertical-align:middle')
				b {{item.from}}
			td(style='width:200px; vertical-align:middle')
				b {{item.destination}}
			td
				.btn.btn-default.pull-right Danh sách xe
					//- i.glyphicon.glyphicon-chevron-right
