div(ng-controller='choosedate-ctrl')
	.page-header(style='margin-top:0px; margin-bottom:12px')
		h3(style='margin:0px') Chọn ngày

	.form-horizontal
		// Text input
		.form-group
			label.col-md-2.control-label(for='date') Chọn Ngày
			.col-md-8
				.dropdown
					a#booking-date.dropdown-toggle(role='button', data-toggle='dropdown', data-target='#', href='#')
						.input-group
							input.form-control(type='text',
								ng-blur = 'booking_date_blur()',
								ng-model='booking.str_date')
							span.input-group-addon
								i.glyphicon.glyphicon-calendar
					ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
						datetimepicker(data-ng-model='datepicker',
							data-datetimepicker-config='{ dropdownSelector: "#booking-date", minView: "day" }')

				//- input#date.form-control.input-md(name='date', type='text', placeholder='Ngày/tháng/năm', required='')
				span.help-block Nhập ngày tháng theo chuẩn dd/MM/yyyy, hay chọn từ lịch.
		// Text input
		.form-group
			label.col-md-2.control-label(for='route') Chọn tuyến
			.col-md-8
				select.form-control(ng-model='booking._route',
					ng-options='item._id as item.from + " - " + item.destination for item in routes')
		// Text input
		.form-group
			label.col-md-2.control-label(for='amount') Số lượng
			.col-md-8
				input#amount.form-control.input-md(ng-model='booking.amount_of_seats', name='amount', type='text', placeholder='0')
				span.help-block Đặt {{booking.amount_of_seats}} ghế
		// Button (Double)
		.form-group
			label.col-md-2.control-label(for='next')
			.col-md-8
				button#next.btn.btn-success(ng-click='next()', name='next') Tiếp tục
					i.glyphicon.glyphicon-chevron-right
