div(ng-controller='choosecars-ctrl')
	.page-header(style='margin-top:0px; margin-bottom:12px')
		h3(style='margin:0px') Chọn xe

	table.table.table-hover
		tr(ng-repeat='item in car_list')
			td
				b {{item.name}}
				br
				| Khởi hành lúc {{item.start_time}} hằng ngày.
			td(style='width:120px; vertical-align:middle')
				b Còn {{item.available_seat}} ghế
			td(style='width:120px')
				.btn.btn-success.pull-right(ng-click='car_selected(item)') Chọn Xe
					i.glyphicon.glyphicon-chevron-right
