.row
	.col-md-3
		div.list-group
			a.list-group-item(ng-href='#/choosedate') Chọn ngày
			a.list-group-item(ng-href='#/choosecars') Chọn xe
			a.list-group-item(ng-href='#/choosesit') Chọn ghế
			a.list-group-item(ng-href='#/chooseinfo') Thông tin hành khách
			a.list-group-item(ng-href='#/choosedone') Hoàn tất đặt vé

	.col-md-9
		.page-header(style='margin-top:10px; margin-bottom:12px')
			h2(style='margin:0px') Chọn ghế

		.row
			.col-md-3(ng-repeat='item in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]')
				div.thumbnail
					p A{{item}}
						br
						small Đặt chỗ

		.row(style='margin-top:50px')
			.col-md-12
				p
					.btn.btn-success.pull-right
						| Tiếp tục
						i.glyphicon.glyphicon-chevron-right

					| Bạn đã chọn 3 ghế: A1, A4, A13
