.row
	.col-md-3
		div.list-group
			a.list-group-item(ng-href='#/choosedate') Chọn ngày
			a.list-group-item(ng-href='#/choosecars') Chọn xe
			a.list-group-item(ng-href='#/choosesit') Chọn ghế
			a.list-group-item(ng-href='#/chooseinfo') Thông tin hành khách
			a.list-group-item(ng-href='#/choosedone') Hoàn tất đặt vé

	.col-md-9
		.page-header(style='margin-top:10px; margin-bottom:12px')
			h2(style='margin:0px') Kiểm tra lại thông tin đặt vé

		.form-horizontal
			// Text input
			.form-group
				label.col-md-3.control-label(for='date') Khách Hàng
				.col-md-9
					input#date.form-control.input-md(value='Phạm Minh Tâm', type='text', required='')
			// Text input
			.form-group
				label.col-md-3.control-label(for='amount') Số điện thoại
				.col-md-9
					input#amount.form-control.input-md(value='01643-652-922', type='text')

			// Text input
			.form-group
				label.col-md-3.control-label(for='amount') Ngày đi
				.col-md-9
					label.form-control 15/05/2014
			// Text input
			.form-group
				label.col-md-3.control-label(for='amount') Xe
				.col-md-9
					label.form-control Xe tài 1
			// Text input
			.form-group
				label.col-md-3.control-label(for='amount') Ghế chọn
				.col-md-9
					label.form-control A1, A2, A3
			// Textarea
			.form-group
				label.col-md-3.control-label(for='note-from') Điểm đón
				.col-md-9
					textarea#note-from.form-control(name='note-from')
			// Textarea
			.form-group
				label.col-md-3.control-label(for='note-to') Điểm đến
				.col-md-9
					textarea#note-to.form-control(name='note-to')

			// Button (Double)
			.form-group
				label.col-md-3.control-label(for='next')
				.col-md-9
					button#next.btn.btn-success(name='next') Xác nhận
						i.glyphicon.glyphicon-chevron-right

