div(ng-controller='choosedate-ctrl')
	.page-header(style='margin-top:0px; margin-bottom:12px')
		h3(style='margin:0px') Chọn ngày

	.form-horizontal
		// Text input
		.form-group
			label.col-md-2.control-label(for='date') Chọn Ngày
			.col-md-8
				input#date.form-control.input-md(name='date', type='text', placeholder='Ngày/tháng/năm', required='')
				span.help-block Ngày 20 tháng 4 năm 2014
		// Text input
		.form-group
			label.col-md-2.control-label(for='amount') Số lượng
			.col-md-8
				input#amount.form-control.input-md(name='amount', type='text', placeholder='0')
				span.help-block Đặt 0 ghế
		// Button (Double)
		.form-group
			label.col-md-2.control-label(for='next')
			.col-md-8
				button#next.btn.btn-success(name='next') Tiếp tục
					i.glyphicon.glyphicon-chevron-right
