div(ng-controller='choosedone-ctrl')
	.page-header(style='margin-top:0px; margin-bottom:12px')
		h3(style='margin:0px') Kiểm tra lại thông tin đặt vé

	.form-horizontal
		// Text input
		.form-group
			label.col-md-2.control-label(for='amount') Ngày đi
			.col-md-8
				label.form-control {{model.booking_date}}
		// Text input
		.form-group
			label.col-md-2.control-label(for='amount') Xe
			.col-md-8
				label.form-control {{ model.car.name }}
		// Text input
		.form-group
			label.col-md-2.control-label(for='amount') Ghế chọn
			.col-md-8
				label.form-control
					span(ng-repeat='item in model.selected_seats') {{item + ', '}}

		// Text input
		.form-group
			label.col-md-2.control-label(for='full_name') Khách Hàng
			.col-md-8
				input#full_name.form-control.input-md(ng-model='model.user_info.full_name', type='text', required='')
		// Text input
		.form-group
			label.col-md-2.control-label(for='phone_number') Số điện thoại
			.col-md-8
				input#phone_number.form-control.input-md(ng-model='model.user_info.phone_number', type='text')
		// Textarea
		.form-group
			label.col-md-2.control-label(for='note-from') Điểm đón
			.col-md-8
				textarea#note-from.form-control(ng-model='model.user_info.from', name='note-from')
		// Textarea
		.form-group
			label.col-md-2.control-label(for='note-to') Điểm đến
			.col-md-8
				textarea#note-to.form-control(ng-model='model.user_info.to', name='note-to')

		// Button (Double)
		.form-group
			label.col-md-2.control-label(for='next')
			.col-md-8
				button#next.btn.btn-success(name='next') Hoàn tất
					i.glyphicon.glyphicon-chevron-right

