div(ng-controller='chooseinfo-ctrl')
	.page-header(style='margin-top:0px; margin-bottom:12px')
		h3(style='margin:0px') Thông tin người đặt

	.form-horizontal
		// Text input
		.form-group
			label.col-md-2.control-label(for='fullname') Họ Tên
			.col-md-8
				input#fullname.form-control.input-md(name='fullname', type='text', placeholder='', required='')
		// Text input
		.form-group
			label.col-md-2.control-label(for='phone') Số điện thoại
			.col-md-8
				input#phone.form-control.input-md(name='phone', type='text', placeholder='', required='')
		// Textarea
		.form-group
			label.col-md-2.control-label(for='note-from') Điểm đón
			.col-md-8
				textarea#note-from.form-control(name='note-from')
		// Textarea
		.form-group
			label.col-md-2.control-label(for='note-to') Điểm đến
			.col-md-8
				textarea#note-to.form-control(name='note-to')
		// Button (Double)
		.form-group
			label.col-md-2.control-label(for='next')
			.col-md-8
				button#next.btn.btn-success(name='next') Tiếp tục
