.row
	.col-md-3
		.page-header(style='margin-top:0px; margin-bottom:12px')
			h3(style='margin:0px') Danh sách Xe
		div.list-group
			a.list-group-item(ng-href='#/booking', ng-click='nav("choose_date.jade")') Chọn ngày
			a.list-group-item(ng-href='#/booking', ng-click='nav("choose_cars.jade")') Chọn xe
			a.list-group-item(ng-href='#/booking', ng-click='nav("choose_seat.jade")')
				| Chọn ghế
			a.list-group-item(ng-href='#/booking', ng-click='nav("choose_info.jade")')
				| Thông tin hành khách
			a.list-group-item(ng-href='#/booking', ng-click='nav("choose_done.jade")')
				| Hoàn tất đặt vé

	.col-md-9
		div(ng-include='booking_template')
