.row
	.col-md-7.col-md-offset-1
		.page-header(style='margin-top:0px')
			h1 Home page

		p bài thơ đầu anh viết tặng em, là bài thơ kể về đôi dép, khi nỗi nhớ trong lòng da diết, những vật tầm thường cũng viết thành thơ.


